<!DOCTYPE html>
<html lang="ja">
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <meta charset="UTF-8">
    <title>HELLO</title>
</head>

<body>
    <h1 class="text-3xl font-bold underline">
        html勉強メモ</h1>
    <h2>htmlのタグ</h2>
    {#<ul>
        
        {% for item_id in recomend_item_map.keys() %}
        <li>{{item_id}}
            {% for item_id in recomend_item_map[item_id].values() %}
            </li>
        {% endfor %}
        
    </ul>#}
    <p>Sayhello</p>
    
</boy>
</html>